@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: iran;
    src: url(../src/assets/font/Irancell/ایرانسل\ لایت\ .otf);
}
*{
    direction: rtl;
    font-family: 'iran';
}